<%# <div class="tweet">
  <div class="upper-tweet">
    <div class="tweet-user">
      <%= tweet.user.name %>
    <%# </div>
  </div>
  <div class= "lower-tweet">
    <div class="tweet.title">
      <%= tweet.titile %>
    <%# </div>
      <%= image_tag tweet.image, class: 'tweet-image' if tweet.image.attached? %>
  <%# </div>
</div> %> 

<div class="contents row">
  
</div>